body {
    background-color: #e2e2fd;
    /* color:            #f24bb2; */
    line-height:      1.2;
    font-size:        18px;
    padding:          0px;
    margin:           20px auto;
    max-width:        1000px;
}

img { max-width: 1000px; }

img.headshot {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link { color: #609090; text-decoration: none;}
a:visited { color: #609090; }

p { margin-bottom: 10px; margin-top: 2px; }
/* p::first-letter { font-size: 2em; } */

h1 { color: #bf2a2c; }
/* h1.title { font-size: 42px; margin-top: 10px; line-height: 42px; } */
h1:first-of-type { font-size: 42px; margin-top: 10px; line-height: 42px; }
h2 { color: #cf7a2c; }
h3 { color: #2faa4c; }
